2to3==1.0
beautifulsoup4==4.10.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
Deprecated==1.2.13
distlib==0.3.4
flask
google==3.0.0
google-api-core==1.31.5
google-auth==1.35.0
google-cloud-core==1.7.2
google-cloud-ndb==1.11.1
googleapis-common-protos==1.54.0
grpcio==1.43.0
gunicorn==19.7.1
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mock==4.0.3
packaging==21.3
protobuf==3.19.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymemcache==3.5.0
pyparsing==3.0.6
pytz==2021.3
redis==4.1.0
requests==2.27.1
rsa==4.8
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.8
virtualenv==20.13.0
Werkzeug==2.0.2
wrapt==1.13.3
